/*
@media screen and (max-width: 750px) {

    #box-gallery {
        background-color: black;
        display: flex;
        flex-direction: column;
    }

    .box-photo {
        background-color: dimgray;
        margin: 1em;
    }

    .gallery-img {
        width: 150px;
        margin: 0.2em;
    }

}
*/

@media screen and (max-device-aspect-ratio: 1/1) {
    #box-gallery {
        /*
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        */
    }

    .box-photo {
        /*
        background-color: lightgray;
         */
        margin-top: 0.2em;
/*
        margin-left: auto;
        margin-right: auto;
*/
        text-align: center;
    }

    .gallery-img {
        width: 90%;
        margin: 0.2em;
    }
}


@media screen and (min-device-aspect-ratio: 1/1) {
    #box-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .box-photo {
        background-color: lightgray;
        margin: 1em;
    }

    .gallery-img {
        width: 10em;
        margin: 0.2em;
    }
}

